.main_grid {
    width: 100%;
    padding: 0px 12px;
    gap: 16px;
    display: grid;
    overflow: auto;
}

.platforms_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    gap: 16px;
}